body {
  color: #fff;
  background: #1f2a32;
}

.app-container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

.app-main-container {
  flex: 1;
  height: 100%;;
}

nav {
  padding: 20px;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  padding: 10px;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #e3e3e3;
}

.three-d-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas-container {
  flex: 1;
}

a {
  color: aqua;
}

a:visited {
  color: hotpink;
}